<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194799563470-j56m1l58bu4dcpe53u5mpe7dv2rnvt2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194799563470-j56m1l58bu4dcpe53u5mpe7dv2rnvt2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAVnZsVYIXm-mSDdj4-H7ceyTioQxyK8eM</string>
	<key>GCM_SENDER_ID</key>
	<string>194799563470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theEndIsNear.comingsoon</string>
	<key>PROJECT_ID</key>
	<string>comingsoon-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>comingsoon-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194799563470:ios:ce21b8e653000f42f2d69f</string>
</dict>
</plist>